$dashboard-background-color: #f4f4f4;

$light-gray:        #bababa;
$medium-gray:       #6c6c6c;

$medium-blue:       #1D3B5E;
$dark-blue:         #0E1E2F;
$bright-pink:       #E6608B;





$font-color-light-gray: #929492;
$font-color-medium-gray: #6c6c6c;
$font-color-medium-gray-selected: #43424a;

// BUTTONS
$btn-color-light: white;
$btn-color-selected: #cac9dd;
$btn-color-dark: #145c9e;
