// @media (min-width: 576px)
// @media (min-width: 768px)
// @media (min-width: 992px)
// @media (min-width: 1200px)


body {
  // background-color: #E5E4DC;
}

.dashboard {
  width: 100vw;
  height: 100vh;
}

.dashboard-body {
  background-color: pink;

  width: 100%;
  // height: calc(100vh - 156px);
  // max-height: calc(100vh - 156px);
  min-height: 120vh;

  display: flex;
  // margin-bottom: 200px;
  position: relative;
  top: $navbar-height;

  .post-list-container {

    display: flex;
    flex-direction: column;
  }
}


.connected-accounts-title,
.currently-livestreaming-title {
  margin-top: $small-padding;
  margin-bottom: $large-padding;

  font-size: $small-font-size;
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 400;
  color: $font-color-light-gray;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

