// @media (min-width: 576px)
// @media (min-width: 768px)
// @media (min-width: 992px)
// @media (min-width: 1200px)

$navbar-height:      156px;
// $body-from-top:      160px;

$db-post-width:      184px;
$grid-gap:           32px;
$small-padding:      6px;
$large-padding:      40px;

body {
  background-color: #E5E4DC;
}

.dashboard {
  width: 100vw;
}

.dashboard-body {
  width: 100%;
  display: flex;
  margin-top: $navbar-height;
  margin-bottom: 200px;

  .menu {
    background-color: yellow;

    height: 500px;
    // padding-right: $small-padding;
    padding-top: $large-padding;
    margin-right: 24px;

    flex-grow: 2;
    position: sticky;
    top: $navbar-height;
  }

  .post-list-container {
    display: flex;
    flex-direction: column;

    .filter-bar {
      background-color: pink;

      // height: 160px;
      padding: 0;
      padding-left: $small-padding;
      padding-right: $small-padding;
      padding-top: $large-padding;
      position: sticky;
      top: 0px;
      z-index: 10;
    }

    .post-list {
      // background-color: orange;

      padding-top: $grid-gap;
      padding-left: $small-padding;
      padding-right: $small-padding;
      display: grid;
      grid-gap: 12px;
      grid-template-columns: repeat(1, $db-post-width);

      @media (min-width: 576px) {
        grid-gap: 16px;
        grid-template-columns: repeat(2, $db-post-width);
      }

      @media (min-width: 768px) {
        grid-gap: 24px;
        grid-template-columns: repeat(2, $db-post-width);
      }

      @media (min-width: 992px) {
        grid-gap: $grid-gap;
        grid-template-columns: repeat(3, $db-post-width);
      }

      @media (min-width: 1200px) {

        grid-gap: $grid-gap;
        grid-template-columns: repeat(4, $db-post-width);
      }
    }

  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

