.filter-bar {
  background-color: yellow;

  height: $filter-bar-height;
  // margin-top: $navbar-body-padding;
  padding: 0 $small-padding $medium-padding $small-padding;

  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: space-between;

  font-family: Open Sans;
  color: $font-color-light-gray;

  .filter-sub:first-of-type {
    flex-grow: 2;
    justify-content: flex-start;
  }

  .filter-sub:last-of-type {
    justify-content: flex-end
  }

  .filter-sub {
    display: flex;
    flex-direction: column;



    .search-form {
      // background-color: white;

      width: 80%;
      height: $livestream-btn-height;
      margin: auto 0px;

      display: flex;
      align-items: center;
      // padding-left: $large-padding;
      border-bottom: 4px solid $font-color-light-gray;

      font-size: $large-font-size;
      color: $font-color-light-gray;

      input {
        width: 100%;
        border: none;
        font-size: $large-font-size;
        color: $font-color-light-gray;
        background-color: rgba(0, 0, 0, 0);
      }

      input:focus {
        outline: 0;
        color: $font-color-light-gray;
      }
    }

    .filter-options {
      width: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      .filter-label {
        margin-right: 24px;
        display: flex;
        align-items: center;
      }

      .filter-option {
        background-color: $btn-color-light;

        border: 0.75px solid $font-color-light-gray;
        border-radius: 50px;

        width: 96px;
        padding: 6px 10px;

        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fas {
          font-size: 18px;
          margin-right: 6px;
        }

        button {
          background-color: rgba(0, 0, 0, 0);
          text-decoration: none;
          border: none;
          padding: 0;
        }
      }

      .filter-option:last-of-type {
        margin-right: 0px;
      }

      .filter-label,
      button {
        font-size: 14px;
        font-weight: 400;
        color: $font-color-medium-gray;
      }

      button:focus {
        outline: 0;
      }
    }
  }
}

.filter-option {
  .fas {
    position: relative;
  }

  .fas.asc {
    transform: rotate(0deg);
    // top: 0.5px;
  }

  .fas.desc {
    transform: rotate(180deg);
    top: 2.5px;
  }

  .fas.neutral {
    transform: rotate(90deg);
    top: 1px;
  }
}

.filter-options[data-sort-key="posted"] {
  #filter-option-posted {
    background-color: $btn-color-selected;
    border: 1.25px solid $font-color-medium-gray;
    box-shadow: inset 1px 1.5px 3px rgba(0, 0, 0, 0.5);

    .fas {
      color: $font-color-medium-gray-selected;
    }
    button {
      font-weight: 700;
      color: $font-color-medium-gray-selected
    }
  }
}

.filter-options[data-sort-key="likes"] {
  #filter-option-likes {
    background-color: $btn-color-selected;
    border: 1.25px solid $font-color-medium-gray;
    box-shadow: inset 1px 1.5px 3px rgba(0, 0, 0, 0.5);

    .fas {
      color: $font-color-medium-gray-selected;
    }
    button {
      font-weight: 700;
      color: $font-color-medium-gray-selected
    }
  }
}









