.filter-bar {
  height: $filter-bar-height;
  padding: 0 $small-padding $medium-padding $small-padding;

  position: sticky;
  top: 0;
  z-index: 51;

  display: flex;
  flex-direction: column;
  align-items: space-between;

  font-family: Open Sans;
  color: $font-color-light-gray;

  .filter-sub {
    display: flex;
    position: relative;

    .sort-options {
      // background-color: white;
      height: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      position: absolute;
      right: $small-padding;

      .sort-label {
        margin-right: 24px;
        display: flex;
        align-items: center;

        font-size: 14px;
        font-weight: 400;
        color: $font-color-medium-gray;
      }

      .sort-options-buttons {
        display: flex;
        height: 100%;

        border-radius: 16px;
        box-shadow: -5px -5px 4px rgba(255, 255, 255, 1),
                    5px 5px 4px rgba($medium-gray, 0.25);

        .sort-option {
          width: 96px;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 14px;

          cursor: pointer;

          .fas {
            font-size: 18px;
            margin-right: 6px;
          }

          span {
            padding: 0;
          }
        }

        .sort-option:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }

  .filter-sub[type="search-form"] {
    flex-grow: 2;
    justify-content: flex-start;
  }

  .filter-sub[type="search-options"] {
    height: $btn-small-height;

    flex-direction: row;
    justify-content: space-between;
  }
}

.filter-bar .sort-option {
  .fas {
    position: relative;
  }

  .fas.asc {
    transform: rotate(0deg);
  }

  .fas.desc {
    transform: rotate(180deg);
    top: 2.5px;
  }

  .fas.neutral {
    transform: rotate(90deg);
    top: 1px;
  }
}

.filter-bar #sort-option-posted {
  border-radius: 20px 0px 0px 20px;

  clip-path: inset(-10px 0px -10px -10px);
}

.filter-bar #sort-option-likes {
  border-radius: 0px 20px 20px 0px;

  clip-path: inset(-10px -10px -10px 0px);
}

.sort-option.btn-secondary-custom {
  box-shadow: none;
}

.sort-option.btn-secondary-custom-selected {
  font-weight: 700;

  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.sort-option.btn-secondary-custom-selected:hover {
  background-color: rgba($dark-blue, 0.9);
  color: white;

  box-shadow: inset -2px 0px 5px rgba(0, 0, 0, 0.4),
              inset 3px 3px 4px rgba(0, 0, 0, 0.4);
}







