footer {
  background-color: $medium-blue;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  color: $font-color-light-gray;

  position: relative;

  z-index: 10;

  .footer-content {
    padding-top: 56px;
    padding-bottom: 56px;

    .custom-footer-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .footer-content-menu {
        text-align: right;
        padding-right: $small-padding;

        font-size: 12px;
        font-weight: 300;

        z-index: 15;

        a {
          text-decoration: none;
          color: white;

          display: block;
          margin-top: 6px;
        }

        a:hover {
          text-decoration: none;
          color: $bright-pink;
        }
      }
    }
  }

  .footer-message {
    background-color: $dark-blue;
    height: 48px;

    display: flex;
    align-items: center;

    color: white;
    font-weight: 300;

    // box-shadow: 0px -40px 65px rgba(0, 0, 0, 0.2);

    .custom-footer-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      span:first-of-type {
        margin-right: 8px;
      }

      span:nth-of-type(2) {
        margin-left: 8px;
      }

      a {
        text-decoration: none;
        color: white;

        margin-left: 5px;
        margin-right: 5px;
      }

      a:hover {
        text-decoration: none;
        color: $bright-pink;
      }

      .fire {
        height: 16px;

        position: relative;
        bottom: 2px;
      }
    }
  }
}

footer .pink-glow {
  // background-color: yellow;
  background: linear-gradient(180deg, rgba(white, 0) 0%, rgba($bright-pink, 0.3) 100%);
  opacity: 0.7;
  z-index: -100;

  height: 250px;
  position: absolute;
  width: 100vw;
  top: -250px;
}

footer .dark-glow {
  // background-color: yellow;
  background: linear-gradient(180deg, rgba(white, 0) 0%, rgba(black, 0.2) 100%);

  height: 80%;
  width: 100%;

  position: absolute;
  bottom: 48px;
}

footer .wave {
  height: 40px;
  width: 100vw;

  position: absolute;
  top: -35px;
}











