$logo-proportions-width: 2000px;
$logo-proportions-height: 391px;

$logo-width: $menu-width * 1.1;
$logo-height: $logo-width * $logo-proportions-height / $logo-proportions-width;

#logo-iframe {
  width: $logo-width;
  height: $logo-height;

  border: 0;
  overflow: hidden;

  position: absolute;
}

.logo-container-iframe {
  // background-color: orange;

  width: $logo-width;
  height: $logo-height;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  .logo-foreground {
    width: $logo-width + 4;
    height: $logo-height + 4;

    position: absolute;
    top: -2px;
    left: -3px;
    z-index: 1;
  }

  .logo-pattern {
    height: 95%;

    position: absolute;
    top: 2px;

    z-index: -1;
  }
}

.login-page .navbar #logo-iframe {
  width: $logo-width;
}

.dashboard .navbar #logo-iframe {
  top: (($dashboard-pg-navbar-height - $medium-padding) / 2) - ($logo-height / 2) - 5;
}
