.logo-container {
  display: flex;
  align-items: center;

    .logo-foreground {
      height: 100%;
      // opacity: 0.5;

      z-index: 1;
      // box-shadow: inset 0 0 10px #000000;
    }
}

.login-page .logo-container {
  height: 100%;

  position: absolute;
  left: 0px;

  .logo-pattern {
    height: 27%;

    position: absolute;
    left: 5px;
    top: 76px;
  }
}

.dashboard .logo-container {
  height: $dashboard-pg-navbar-height;

  position: absolute;
  left: 0px;

  .logo-pattern {
    height: 50px;

    position: absolute;
    left: 5px;
    top: 57px;
  }
}


