.menu {
  background-color: gray;

  // Horizontal flex-grow within dashboard-body
  flex-grow: 2;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: Open Sans;
  font-size: 14px;

  position: sticky;
  top: $navbar-height - $livestream-padding-top;

  margin-right: $large-padding;

  .submenu-top {
    background-color: yellow;

    width: 100%;
    height: $filter-bar-height;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding-bottom: $medium-padding;

    position: relative;

    a.start-livestream {
      height: $btn-large-height;

      color: white;
      cursor: pointer;
      text-decoration: none;
      font-weight: 600;

      background-color: black;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 80px;

      font-size: 20px;
    }

    .connected-accounts-title {
      height: $btn-small-height;

      font-size: $small-font-size;
      font-family: Open Sans, Helvetica, sans-serif;
      font-weight: 400;
      color: $font-color-light-gray;

      margin-bottom: 12px;
      display: flex;
      align-items: center;

      position: absolute;
      bottom: 0px;
    }
  }

  .submenu-bottom {
    background-color: red;
    padding-top: $large-padding;

    .connected-accounts {
      background-color: black;
      color: white;
      font-weight: 600;

      padding: 6px 24px;
      border-radius: 80px;
    }
  }
}

