.menu {
  background-color: gray;

  // Horizontal flex-grow within dashboard-body
  flex-grow: 2;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: Open Sans;
  font-size: 14px;

  position: sticky;
  top: $filter-bar-height - $livestream-btn-margin;

  margin-right: $large-padding;

  .submenu-top {
    background-color: yellow;

    width: 100%;
    height: $filter-bar-height;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    padding-bottom: $medium-padding;

    a.start-livestream {
      height: $livestream-btn-height;
      color: white;
      cursor: pointer;
      text-decoration: none;
      font-weight: 600;

      background-color: black;
      width: 100%;
      // height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 80px;

      padding-top: 12px;
      padding-bottom: 12px;
      margin: $livestream-btn-margin;
      margin-left: 0px;
      margin-right: 0px;

      font-size: 20px;

      // position: sticky;
      // top: $navbar-height;
    }

    .connected-accounts-title,
    .connected-accounts {
      text-align: right;
    }

    .connected-accounts {
      background-color: black;
      color: white;
      font-weight: 600;

      padding: 6px 24px;
      border-radius: 80px;
    }
  }
}


