.navbar {
  background-color: $dashboard-background-color;

  width: 100%;
  position: fixed;
  top: 0px;
  padding: 0px;
  z-index: 5;

  display: flex;
}

.login-page .navbar,
.login-page .navbar .menu {
  height: $login-pg-navbar-height;
}

.dashboard .navbar,
.dashboard .navbar .menu {
  height: $dashboard-pg-navbar-height;
}
