$lg-width:                  232px;
$lg-card-padding:           12px;
$lg-avatar-height:          24px;
$lg-image-height:           208px;
$lg-icon-height:            16px;
$lg-main-vertical-padding:  8px;
$lg-main-font-size:         11px;
$lg-main-font-size-large:   11px;
$lg-main-font-size-small:   9px;

.post-large {
  position: absolute;

  width: $lg-width;
  padding: $lg-card-padding;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  z-index: 100;

  .post-content {
    opacity: 1;

    .header {
      height: $lg-avatar-height;
      margin-bottom: $lg-main-vertical-padding;

      .avatar {
        width: $lg-avatar-height;
        height: $lg-avatar-height;
        border-radius: $lg-avatar-height / 2;
        margin-right: $lg-main-vertical-padding * 1.5;
        border: 0.2px solid rgba(0, 0, 0, 0.2);
      }

      .author {
        font-size: $lg-main-font-size-large;
      }
    }

    .img-container {
      height: $lg-image-height;
      margin-bottom: $lg-main-vertical-padding;
    }

    .icon-container {
      height: $lg-icon-height;
      margin-bottom: $lg-main-vertical-padding * 0.75;

      img {
        width: $lg-icon-height;
        margin: auto 10px auto 0px;
      }
    }

    .likes {
      font-size: $lg-main-font-size-large;
      margin-bottom: $lg-main-vertical-padding / 2;
    }

    .message {
      font-size: $lg-main-font-size;

      span.author {
        font-size: $lg-main-font-size-large;
      }
    }

    .time {
      font-size: $lg-main-font-size-small;
      margin-top: $lg-main-vertical-padding / 2;
    }
  }
}

