.post-list {
  background-color: green;

  // min-height: 100vh;

  padding-top: 24px;
  padding-left: $small-padding;
  padding-right: $small-padding;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(1, $db-post-width);
  grid-template-rows: fit-content(100%);

  @media (min-width: 576px) {
    grid-gap: 16px;
    grid-template-columns: repeat(2, $db-post-width);
  }

  @media (min-width: 768px) {
    grid-gap: 24px;
    grid-template-columns: repeat(2, $db-post-width);
  }

  @media (min-width: 992px) {
    grid-gap: $grid-gap;
    grid-template-columns: repeat(3, $db-post-width);
  }

  @media (min-width: 1200px) {

    grid-gap: $grid-gap;
    grid-template-columns: repeat(4, $db-post-width);
  }
}

.post-not-found {
  background-color: red;

  height: $no-posts-found-height;

}

.view-all-posts {
  background-color: yellow;

  height: $view-all-posts-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: $navbar-height;

  .fas {
    cursor: pointer;
  }

  .fa-plus-circle {
    font-size: 24px;
  }

  span.symbol-label {
    font-size: 10px;
    font-weight: 500;
    // color: white;
  }
}

