// POST-OPTIONS SIZES ARE DECLARED AT BOTTOM OF _POST-DASHBOARD.SCSS

$internal-padding: 8px;

.post-options,
.post-hidden,
.post-hidden-options,
.post-hidden-overlay {
  position: absolute;
  // margin-left: 0.5px;
  padding: $internal-padding;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  .hide-option,
  .unhide-option,
  .view-post-option {
    display: flex;
    flex-direction: column;
  }

  .hidden-overlay,
  .hide-option,
  .unhide-option {
    align-items: center;
  }

  .view-post-option {
    align-items: flex-end;

    position: absolute;
    right: $internal-padding;
    top: $internal-padding;
  }

  .fas {
    cursor: pointer;
    font-size: 40px;
  }

  .fa-external-link-square-alt {
    font-size: 16px;
  }

  span.symbol-label {
    font-size: 10px;
    font-weight: 500;
    color: white;
  }
}

.post-hidden-overlay {
  background-color: #70587C;
  opacity: 0.9;

  .fas,
  span.symbol-label {
    color: white;
  }
}

.post-options,
.post-hidden-options {
  background-color: white;
  opacity: 0.6;

  .fas,
  span.symbol-label {
    color: black;
  }
}

