.search-terms {
  min-width: 50px;
  height: 100%;

  position: absolute;
  bottom: 0px;

  .search-term {
    width: fit-content;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: $large-padding;
    padding-right: $medium-padding;

    .fas {
      font-size: 18px;
      // color: black;

      cursor: pointer;
    }

    span {
      font-size: 14px;
      font-weight: 700;
      // color: black;
      padding: 0;

      margin-right: $medium-padding;
    }
  }
}
