.search-form {
  background-color: white;

  width: 100%;
  // height: $btn-large-height;
  height: $search-form-height;

  margin: 0px;
  margin-top: $search-form-margin-top;
  padding-left: $large-padding;

  display: flex;
  align-items: center;

  border-radius: $search-form-height / 2;
  // border-bottom: 4px solid $font-color-light-gray;


  input {
    width: 100%;
    border: none;
    font-size: $large-font-size;
    color: $font-color-light-gray;
    background-color: rgba(0, 0, 0, 0);

    font-size: $large-font-size;
    color: $font-color-light-gray;
    opacity: 0.5;
  }

  input:focus,
  input:checked {
    outline: 0;
    color: $font-color-light-gray;
    opacity: 1;
  }
}

.search-form:focus-within {
  box-shadow: inset 3px 4px 6px rgba(0, 0, 0, 0.15);
}
